/* underline animado */
.nav-underline {
  position: relative;
}
.nav-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 0%;
  background: theme(colors.brand.DEFAULT);
  transition: width 200ms ease;
}
.nav-underline:hover::after {
  width: 100%;
}
